* {
	margin: 0;
	padding: 0;
}

.Info {
	width: 1200px;
	height: auto;
	display: flex;
	justify-content: center;
}

.image {
	margin: 10px 20px;
}

h1 {
	font-weight:bold;
	font-size: 22pt
	margin: 0px 10px
}

h2 {
	margin: 5px 0px;
}

.left {
	margin: 10px 10px;
}

.Name {
	max-height: 80px;
}

.Education {
	max-height: 210px;
}

li {
	margin: 0px 20px;
}

.right {
	margin: 80px 10px;
}

.Contact {
	margin: 40px 0px;
}

.con {
	font-size: 20pt
}
